{{define "backend.layout.header"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>酷社区</title>
    <link href="/assets/backendcss/styles.css" rel="stylesheet" />
    <link href="/assets/backendcss/font-awesome.min.css" rel="stylesheet" />
    <link href="/assets/editor/editormd.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="/assets/frontend/js/jquery.min.js"></script>
    <script src="/assets/backendjs/scripts.js" crossorigin="anonymous"></script>
</head>
<body class="sb-nav-fixed">
<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <!-- Navbar Brand-->
    <a class="navbar-brand ps-3" href="/backend/users">酷社区</a>
    <!-- Sidebar Toggle-->
    <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fa fa-bars"></i></button>
    <!-- Navbar Search-->
    <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
    </form>
    <!-- Navbar-->
    <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="{{.user.Avatar}}" class="rounded-circle" height="30" width="30"></a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#!">用户设置</a></li>
                <li><a class="dropdown-item" href="#!">安全中心</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li><a class="dropdown-item" href="#!">退出登录</a></li>
            </ul>
        </li>
    </ul>
</nav>
<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <div class="sb-sidenav-menu-heading">管理菜单</div>
                    <a class="nav-link" href="/backend/users" data-path="users">
                        <div class="sb-nav-link-icon"><i class="fa fa-users"></i></div>
                        用户管理
                    </a>
                    <a class="nav-link" href="/backend/topics" data-path="topics">
                        <div class="sb-nav-link-icon"><i class="fa fa-table"></i></div>
                        话题管理
                    </a>
                    <a class="nav-link" href="/backend/notices" data-path="notices">
                        <div class="sb-nav-link-icon"><i class="fa fa-bullhorn"></i></div>
                        消息管理
                    </a>
                </div>
            </div>
        </nav>
    </div>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4 mt-2">
                {{if .err}}
                <div class="alert alert-danger mt-1">
                    {{.err}}
                </div>
                {{end}}
                {{if .msg}}
                <div class="alert alert-success">
                    {{.msg}}
                </div>
                {{end}}
            </div>
{{end}}